.menu {
  width: 20%;
}
.bm-burger-button {
    width: 20px;
    height: 20px;
    position: relative;
  }
  
  .bm-burger-bars {
    background: black;
  }
  
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  .bm-cross {
    background: #bdc3c7;
  }
  
  
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  .bm-morph-shape {
    fill: #373a47;
  }
  
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }

  .bm-menu-wrap {
    position: relative;
    height: 10vh;
  }
  
  .bm-overlay {
    background: #fff;
  }