.timeline-container {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 15%);
    max-width: 100%;
    max-height: 100%;
    display: block;
}

@media (max-width: 1600px) {
    .timeline-container img {
        max-width: 70vw;
        max-height: 70vh;
    }
}

@media (max-width: 1400px) {

    .timeline-container img {
        max-width: 70vw;
        max-height: 70vh;
    }
}

@media (max-width: 992px) {

    .timeline-container {
        top: 25%;
    }
    .timeline-container img {
        max-width: 60vw;
        max-height: 70vh;
    }
}

@media (max-width: 767px) {
    .timeline-container {
        visibility: hidden;
    }
}